- form_for @item do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :notes
    %br
    = f.text_field :notes
  %p	
  %p
    = f.label :warranty_years
    %br
    = f.text_field :warranty_years
  %p	
  %p
    = f.label :warranty_months
    %br
    = f.text_field :warranty_months
  %p
    = f.submit "Submit"
